<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div class="header">
    Pokemon Manager
  </div>
  <br>
  <a href="/pokemon/new" class="button add-button">Add a Pokemon</a>
  <div class="pokemon-list">
    <% pokemon.forEach(function(poke) { %>
      <div class="pokemon-item">
        <img src="<%= poke.img %>" alt="<%= poke.name %>">
        <h3><%= poke.name %></h3>
        <!-- View Details button -->
        <a href="/pokemon/<%= poke.id %>" class="button">View Details</a>
        <br>
        <br>
        <a href="/pokemon/<%= poke.id %>/edit" class="button">Edit</a>
        <br>
        <br>
        <!--Delete with double confirmation-->
        <form method="POST" action="/pokemon/<%= poke.id %>?_method=DELETE" onsubmit="return confirmDelete();">
          <button type="submit" class="button delete-button">Delete</button>
        </form>
        <script>
          function confirmDelete() {
            return confirm('Are you sure you want to delete this Pokémon?');
          }
        </script>
      </div>
    <% }) %>
  </div>
</body>
</html>