<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <h1>Pokédex Entry - <%= poke.name %></h1>
  <div>
    <img src="<%= poke.img %>" alt="<%= poke.name %>">
    <p>ID: <%= poke.id %></p>
    <p>Type: <%= poke.type.join(', ') %></p>
    <p>HP: <%= poke.stats.hp %></p>
    <!-- Add other stats and details -->
  </div>
  <a href="/pokemon">Return to Pokédex Entries</a>
</body>
</html>